<div class="comment-form">
  <form
    novalidate
    (ngSubmit)="onSubmit(comment)"
    [formGroup]="comment">

    <div class="form-group">
      <label
        for="body">
        Say Sumpin'
      </label>

      <textarea
        class="form-control"
        id="body"
        formControlName="body"
        rows="3">
      </textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary">
      That's right, I said it
    </button>

    <a href="#"
      routerLink="/">
      I have no idea what I'm doing
    </a>
  </form>
</div>
