<form
  novalidate
  class="form-signin"
  (ngSubmit)="onSubmit(login)"
  [formGroup]="login">

  <h2 class="logo">
    FYIBN
  </h2>

  <label
    for="inputUsername"
    class="sr-only">
    Email address
  </label>

  <input
    type="text"
    formControlName="username"
    id="inputUsername"
    class="form-control"
    placeholder="Username"
    required
    autofocus>

  <label
    for="inputPassword"
    class="sr-only">
    Password
  </label>

  <input
    type="password"
    formControlName="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    required>

  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        formControlName="rememberMe"
        value="remember">
        Remember me
    </label>
  </div>

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit">
    Let me in.
  </button>
</form>
