.meta {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

.comment {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid #666;
  padding: 10px;
  background: #444;
  margin-top: 18px;
}

p {
  margin-bottom: 0.2rem;
}
