<div
  class="masthead clearfix">
  <div
    class="inner">
    <h3
      class="masthead-brand">
      FYIBN
    </h3>

    <nav
      class="nav nav-masthead">

      <a
        class="nav-link"
        routerLink="/post/new"
        href="#">
        Submit
      </a>

      <a
        class="nav-link active"
        routerLink="/"
        href="#">
        Posts
      </a>

      <a
        class="nav-link"
        href="#"
        (click)="logout()">
        Logout
      </a>

    </nav>
  </div>
</div>
