<div class="masthead clearfix">
  <div class="inner">

    <h3
      class="masthead-brand clickable"
      routerLink="/">
      FYIBN
    </h3>

    <nav class="nav nav-masthead">

      <a
        class="nav-link"
        routerLink="/submit"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        href="#">
        Submit
      </a>

      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/"
        href="#">
        Posts
      </a>

      <a
        class="nav-link"
        (click)="logout()">
        Logout
      </a>

    </nav>
  </div>
</div>
