<div class="post">

  <dope-button class="col dope-button clickable">
  </dope-button>

  <div
    class="col clickable"
    [routerLink]="['post', post.id]">

    <div class="title">
      {{ post.title }}
    </div>

    <div class="meta">
      0 points added {{ post.created_at | amTimeAgo }}
       <by-line
        [userId]="post.user">
      </by-line>
    </div>
  </div>

  <div
    class="col clickable comments"
    [routerLink]="['post', post.id]">

    <span [ngPlural]="post.comments.length">
      <template ngPluralCase="=0">0 Comments</template>
      <template ngPluralCase="=1">1 Comment</template>
      <template ngPluralCase="other">{{ post.comments.length }} Comments</template>
    </span>

    <div
      class="meta"
      *ngIf="lastCommenter">
      last by {{ lastCommenter.name }}
    </div>
  </div>

</div>
