<div class="post">

  <dope-button
    class="col dope-button clickable"
    [post]="post">
  </dope-button>

  <div
    class="col clickable"
    [routerLink]="['post', post.id]">

    <div class="title">
      <span
        *ngIf="isNewPost"
        class="badge badge-default">
        New
      </span>
      {{ post.title }}
    </div>

    <div class="meta">
      <post-points
        [points]="post.favorites.length">
      </post-points>

      added {{ post.created_at | amTimeAgo }}

      <by-line
        [userId]="post.user">
      </by-line>
    </div>
  </div>

  <div
    class="col clickable comments"
    [routerLink]="['post', post.id]">

    <span [ngPlural]="post.comments.length">
      <ng-template ngPluralCase="=0">0 Comments</ng-template>
      <ng-template ngPluralCase="=1">1 Comment</ng-template>
      <ng-template ngPluralCase="other">{{ post.comments.length }} Comments</ng-template>
    </span>

    <div
      class="meta"
      *ngIf="lastCommenter">
      last by {{ lastCommenter.name }}
    </div>
  </div>

</div>
