<nav>
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        (click)="previousPage()"
        aria-label="Previous">
        <span aria-hidden="true">
          &laquo;
        </span>
        <span class="sr-only">
          Previous
        </span>
      </a>
    </li>

    <li
      *ngFor="let page of pages"
      class="page-item">
      <a
        class="page-link"
        (click)="changePage(page)"
        [ngClass]="{'active-page': isCurrentPage(page)}">
        {{page}}
      </a>
    </li>

    <li class="page-item">
      <a
        class="page-link"
        (click)="nextPage()"
        aria-label="Next">
        <span aria-hidden="true">
          &raquo;
        </span>
        <span class="sr-only">
          Next
        </span>
      </a>
    </li>
  </ul>
</nav>


