<div *ngIf="post">
  <div class="post">

    <dope-button
      class="col dope-button clickable"
      [post]="post">
    </dope-button>

    <div class="col">
      <div class="title">
        {{ post.title }}
      </div>

      <div class="meta">
        {{ post.favorites.length }} points &middot;
        <by-line
          [userId]="post.user_id"
          [byDate]="post.created_at">
        </by-line>
      </div>
    </div>
  </div>

  <comment-list
    [comments]="post.comments">
  </comment-list>

  <add-comment
    [postId]="post.id">
  </add-comment>
</div>
